//fonts
$openSans:  'Open Sans', sans-serif;
$frank:  'Libre Franklin', sans-serif;


//vars
$color-primary:#dd2c00; 
$color-primary__light: #ff6434;
$color-primary__dark: #a30000;
$color-secondary: #e1f5fe; 
$color-tertiary:#d50000;
 